* {
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #8356f4;
  color: white;
  padding: 10px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

@font-face {
  font-family: "NovaFonteNavbar";
  src: url("fontes/Meowcat.ttf") format("truetype");
}

@font-face {
  font-family: "lemon";
  src: url("fontes/LEMONMILK-Regular.otf") format("truetype");
}
@font-face {
  font-family: "doll";
  src: url("fontes/Baby\ Doll.otf") format("truetype");
}

h1 {
  margin: 0;
  font-family: "NovaFonteNavbar", sans-serif;
  font-size: 3rem;
}

nav {
  display: flex;
  align-items: center;
  z-index: 999;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
  transition: background-color 0.3s;
  font-family: "NovaFonteNavbar", sans-serif;
  font-size: 1.5rem;
}

.conteudo-texto.centralizado > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.imagem-vacina {
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
}

nav a:hover {
  background-color: #ab75fa;
}

footer {
  font-size: 1.5rem;
  background-color: #8356f4;
  color: white;
  text-align: center;
  padding: 20px 10px 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer > #coopright {
  color: red !important ;
}

main {
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container > .textos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container > img {
  align-self: flex-end;
}

.imagem-esquerda {
  width: 450px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.conteudo-texto {
  flex-grow: 1;
  text-align: left;
}

.conteudo-texto > h1 {
  font-size: 5.5rem;
}

.conteudo-texto:not(h1) {
  font-size: 1.5rem;
}

.conteudo-texto.centralizado {
  margin-bottom: 70px;
}

h2 {
  color: #8356f4;
  text-align: left;
  font-size: 3rem;
  font-family: "lemon", sans-serif;
}
h3 {
  color: black;
  text-align: center;
  font-size: 2.7rem;
  font-family: "doll", sans-serif;
}

.conteudo-texto.centralizado {
  text-align: center;
  margin-top: 20px;
}

a {
  word-wrap: break-word;
}

p {
  line-height: 1.6;
  margin: 20px;
  font-size: 77%;
}

.referencias ol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.referencias ol li {
  font-size: 1.2rem;
  text-align: left;
}

/* Estilos do Carousel */
.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 50px;
  margin: auto;
}

.carousel-inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.carousel-item {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  min-width: 100%; /* Isso garante que cada imagem ocupe toda a largura da tela */
  box-sizing: border-box;
}

.carousel img {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.carousel-controls {
  position: absolute;
  top: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  transform: translateY(10%);
}

.carousel-button {
  background-color: #aa75faa4;
  width: 60px;
  height: fit-content;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

@font-face {
  font-family: "MinhaFonte";
  src: url("fontes/Lemon Tea.ttf") format("truetype");
}

.centralizar {
  text-align: center;
}
.centralizar,
h2 {
  margin-bottom: 10px;
}
.conteudo-texto p:last-child {
  margin-bottom: 20px;
}

.link-vacina {
  font-size: 1.5rem;
  font-family: "NovaFonteNavbar", sans-serif;
  color: #8356f4;
  text-decoration: underline;
  cursor: pointer;
}

.link-vacina:hover {
  color: #ab75fa;
}

.email-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.email-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.email-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.email-list p {
  margin: 0;
  line-height: 1.5;
  text-align: left;
}

.email {
  font-size: 1.5rem;
  font-family: "NovaFonteNavbar", sans-serif;
  color: #ab75fa;
}

.conteudo-texto {
  position: relative;
}

h1 {
  width: fit-content;
  margin: auto;
  position: relative;
  z-index: 1;
}
.p_lindinho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border: 4px dashed #8356f4; /* Borda de 2px de espessura, com a cor roxa */
  padding: 10px; /* Adiciona um espaçamento interno ao redor do texto */
  border-radius: 5px; /* Bordas arredondadas */
  width: 50%;
  margin: auto;
}

.p_lindinho > p {
  margin: 0;
}

.p_lindinho:not(:last-child) {
  margin-bottom: 30px;
}

h1::after {
  content: "";
  position: absolute;
  background-image: url("./img/patinha.webp");
  background-position: center center;
  background-size: contain;
  left: -16px;
  top: -12px;
  transform: rotate(25deg);
  width: 60px;
  height: 60px;
  z-index: -1;
}

#aviso_vacina {
  position: relative;
  font-size: 1.2rem;
  width: 50%;
  margin: auto;
}

.imagem-sobre {
  width: 200px;
  height: auto;
}

.alunos_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "lemon", sans-serif;
}

.alunos_container img {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}

.alunos_container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Estilos para o menu responsivo */
#menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

#theme-toggle {
  all: unset;
  background-color: #836aff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* tema escuro */

body.dark {
  background-color: #282a2c;
}

body.dark h1,h2,h3 {
  color: #5c44ae;
}
body.dark .branco {
  color: white; /* Deixa o h1 com a classe animavet-title branco no tema escuro */
}
body.dark header{
  background-color: #5e42a7;
}
body.dark nav a:hover{
  background-color: #7648bf;
}
body.dark p {
  color: rgb(255, 255, 255);
}
body.dark footer{
  background-color:#5e42a7 ;
}
body.dark .referencias{
  color: #ffffff;
}
body.dark .email {
  color: #7648bf;
}
/* Media Queries para responsividade */
@media (max-width: 1030px) {
  nav a {
    font-size: 1.2rem; /* Tamanho da fonte da navbar em dispositivos móveis */
  }

  .alunos_container img {
    width: 80%;
    height: 80%;
  }

  .alunos_container {
    flex-direction: column;
  }

  .container {
    flex-direction: column; /* Organiza itens em coluna */
    align-items: center; /* Centraliza os itens */
  }

  .container * {
    text-align: center;
  }

  .imagem-esquerda {
    margin: auto;
    max-width: 100%; /* Garante que a imagem não ultrapasse a tela */
  }
  .carousel-item img {
    width: 100%;
  }

  #vacina_img {
    display: none;
  }

  .p_lindinho {
    width: 100%;
  }

  .p_lindinho h3 {
    font-size: 1.6rem;
  }
  .p_lindinho p {
    font-size: 1rem;
  }
  #aviso_vacina {
    width: 100%;
    font-size: 1.2rem;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #8356f4;
    width: 100%;
    z-index: 1000;
  }

  nav a {
    margin: 10px 0;
    padding: 10px;
    text-align: center;
  }

  #menu-toggle {
    display: block;
  }
}